<style>
    body {
        background-color: rgba(0,0,0,.2);
    }

    a {
        color: #08c;
        text-decoration: none;
    }

    .grid {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
    }

    .item {
        width: 220px;
        margin-bottom: 0.8em;
        margin-left: 0.8em;
        display: none;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        background: #fff;
    }

    .item .thumb img {
        width: 90%;
        max-width: 90%;
        max-height: 400px;
        margin-top: 0.5em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .item .title {
        width: 90%;
        max-width: 90%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 5%;
        margin-right: 5%;

        line-height: 1.4;
        font: normal 13px Roboto,arial,sans-serif;
        color: #404040;
    }

    .item .details {
        width: 90%;
        max-width: 90%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 5%;
        margin-right: 5%;

        line-height: 1.4;
        font: normal 12px Roboto,arial,sans-serif;
        color: #a7a7a7;
    }

    .details a {
        color: #a7a7a7;
    }

    .loaded {
        display: inline-block;
    }
</style>
<div class="navbar navbar-fixed-top active navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" ng-click="clear()">Timesink</a>
        <ul class="nav">
            <form class="navbar-form pull-left">
                <select style="width: 110px;" ng-model="subreddit" ng-options="r.name for r in reddit.getSubReddits()" ng-change="changeReddit()"></select>
                <button class="btn" ng-click="addReddit=true"><i class="icon-plus"></i></button>
                <select style="width: 110px;" ng-model="mode" ng-options="r for r in reddit.getModes()" ng-change="changeMode()"></select>
            </form>
            <li><a href="https://github.com/badlogic/timesinkjs" target="_blank">Github</a></li>
            <li ng-show="reddit.isBusy()" style="margin-top: 4px;"><img src="img/loader.gif"/></li>
            <div style="margin-bottom: 5px">
                <form class="navbar-form" ng-show="addReddit" ng-submit="addSubReddit()">
                    <fieldset>
                        <span style="color: #fff; font-size:20px;">r/</span>
                        <input id="newreddit" type="text" ng-model="newReddit"/>
                        <button class="btn" ng-click="addReddit=false">Cancel</button>
                        <button class="btn" ng-click="addReddit=false;addSubReddit()">OK</button>
                    </fieldset>
                </form>
            </div>
        </ul>
    </div>
</div>


<div infinite-scroll='reddit.nextPage()'
     infinite-scroll-disabled='reddit.isBusy()'
     infinite-scroll-distance='0'
     class="grid"
    masonry>
    <div class="item masonry-brick" ng-repeat='item in reddit.getItems()'>
        <a class="thumb" ng-show="item.thumbnail" href="{{item.url}}" target="blank"><img ng-src="{{item.thumbnail}}"/></a>
        <p class="title"><a href="{{item.url}}" target="_blank" ng-bind-html-unsafe="item.title"></a></p>
        <div class="details">
            <span>{{item.score}} pts</span> |
            <span><a href="http://www.reddit.com/{{item.permalink}}" target="_blank">{{item.num_comments}} comments</a></span>
        </div>
    </div>
</div>